<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Custo Mensal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="number" [(ngModel)]="custo.valor" placeholder="Valor"></ion-input>
      <ion-input type="string" [(ngModel)]="custo.descricao" placeholder="Descrição"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list lines= "full">
    <ion-item-sliding *ngFor="let custo of custoLists">

      <ion-item button [routerLink]="['/custo', custo.id]">
        <h5><ion-label color="primary" slot="end"  *ngIf="custo.createdAt">{{ custo.createdAt| date: 'short'}}</ion-label>
        <ion-label color="primary" slot="end"  *ngIf="custo.descricao">{{ custo.descricao}}</ion-label>
        <ion-label color="primary" slot="end"  *ngIf="custo.valor">{{ custo.valor | currency: 'BRL' }}</ion-label></h5>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delCusto(custo.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveCusto()" expand="block">
      Confirmar custo
    </ion-button>
  </ion-toolbar>
</ion-footer>