<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title>Reserva de Emergência</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
 
  <ion-list button routerLink="/aporte" color="success" *ngIf="aportes.length > 0">
    <ion-row>
     <h4><ion-label color="primary" slot="end" *ngIf="aportes.length">{{ "Quantidade de aportes: " + aportes.length }}</ion-label></h4>
    </ion-row>
  </ion-list>

  <ion-list button routerLink="/custo" color="success" *ngIf="custos.length > 0">
    <ion-row>
     <h4><ion-label color="primary" slot="end" *ngIf="custos.length">{{ "Quantidade de custo mensal: " + custos.length }}</ion-label></h4>
    </ion-row>
  </ion-list>

</ion-content>

<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/home">
      <ion-icon name="home" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/aporte">
      <ion-icon name="add-circle" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/custo">
      <ion-icon name="arrow-down-circle" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="exit" color="primary"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
  
</ion-content>

